<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>hi!</p>
<form method="POST" url="/upload">
    <input type="text" name="title" />

    <input type="text" name="content" />
    <button type="submit">Submit</button>
</form>